div #main{
    font-weight: bold;
    font-size: large;
}
div [style]{
    font-weight: lighter;
    font-size: medium;
}
.cl{
    background-color: brown;
}
p1{
    background-color: yellow;
}
table :last-child{
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: blue;
}
div{
    width: 200px; height: 300px;
    background-color: rgba(0, 0,0, 1),url("unnamed.jpg");
}
div:hover {

    transition-property: background;
    transition-delay: 1s;
    transition-duration: 10s;
    transition-timing-function: ease;
    background-color: rgba(0, 0,0, 100)
    
}